import type { Config } from "tailwindcss";

export default {
  content: ["./src/app/**/*.{ts,tsx}", "./src/components/**/*.{ts,tsx}"],
  theme: {
    extend: {
      colors: {
        'ink': '#0b0f1a',
        'ink-2': '#0f1224',
        'ink-3': '#120f1f',
      },
      boxShadow: {
        glass: '0 10px 30px rgba(0,0,0,0.35)',
      }
    },
  },
  plugins: [],
} satisfies Config;
